body {
  background-color: #C8B6E2;
  text-align: center;
  font-family: 'Merriweather', sans-serif;
}
h1 {
  margin: 0 auto 0 auto;
  font-family: 'Sacramento', cursive;
}

.top-container {
  background-color: #ABC9FF;
  position: relative;
  padding-top: 100px;
}
.middle-container {
  
}
.bottom-container {

}
.top-cloud {
  position: absolute;
  top: 50px;
  right: 300px;
}
.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}
